.ModalContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalContainer .Button {
    background-color: #fff;
    border-color: #fff;
    position: absolute;
    top: 25px;
    right: 25px;
}

.ModalContainer .Button.AddUser {
    position: static;
}