.Post {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 25px 15px;
    margin-bottom: 20px;
}

.PostTitle {
    font-size: 24px;
    margin-bottom: 5px;
}

.Post .UserName {
    font-size: 14px;
}