@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.MainContainer {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.Wrapper {
    width: 50%;
}

.MapWrapper {
    position: relative;
}

.Map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
}
