@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.MainContainer {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.Wrapper {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
}